<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="top--div">
        <img class="top--image" src="https://w.forfun.com/fetch/8b/8bc5a66b27fc36e5255dc7c1356939c8.jpeg" alt="road_image">
        <div class="top--heading">
        <h3>VILLAGE OF ADDISON</h3>
        <p>STRZELCZYK MUNICIPAL CENTER, 7321 W 59TH ST,<br>SUMMIT IL 60501 <br> (708) 563-4800</p>
        </div>
        <p>07/21/2023</p>
    </div>
    <div class="main--heading">
        <h3>FINDINGS, DECISION AND ORDER</h3>
    </div>
    <div class="table">
        <table class="table--content">
            <tr >
                <td >Village of Summit, a Municipal Corporation, <br>
                    Petitioner, v.</td>
                <td>Docket # {{docket}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Case #{{case}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Ticket #{{ticket}}</td>
            </tr>
            <tr>
                <td rowspan="2">NICOLE O REYES <br>
                        90799 KRISTOPHER ISLE APT. 109 <br>
                        Quicket City , IL 60606
                </td>
                <td>Hearing Date: {{hearingDate}}</td>
            </tr>
            <tr>
                <td>Judgment Total: ${{judgementTotal}}</td>
            </tr>
        </table>
    </div>
    <div>
        <p>THIS CERTIFIES that on 06/15/2023, the Hearing Officer for Village of Summit being fully advised duly entered a Findings, Decision
            and Order in this case as follows:
        </p>
        <p>
            <b>Violation Details: </b>7-2-3-E - FAILURE TO PROVIDE AN OPEN FIRE LANE AROUND RESTAURANT
        </p>
        <p>
           <b>Violation Location/Time: </b>1 S. Quicket - 07/13/2023 09:34 PM
        </p>
        <hr size="1" color="black">
        <p class="subheading">
                Hearing Decision Order and Description
        </p>
        <p>
            The respondent is found to be: GUILTY
        </p>
        <p class="subheading">
            The Decision of the Court is as follows
        </p>
        <p>
            You are hereby ordered to pay a fine of: $250.00 before 07/01/2023
        </p>
        <p class="subheading">
            Additional Instructions
        </p>
        <p class="subheading">
            Court Comments
        </p>
        <p>
            Fine: $250.00
            <br>
            Court cost: $50.00 
        </p>
    <hr size="1" color="black"> 
    <p class="subheading">
        Please make payment at one of the following:
    </p>
    <table class="payment--table">
        <tr>
            <td class="payment--heading">
                On Line:
            </td>
            <td> www.payquicket.com</td>
        </tr>  
        <tr>
            <td class="payment--heading">
                By Mail: 

            </td>
            <td>Village of Summit Strzelczyk Municipal Center, 7321 W 59th St, Summit IL 60501(DO NOT MAIL CASH)</td>
        </tr> 

        <tr>
            <td class="payment--heading">
                In Person:

            </td>
            <td>At the Police Department window during normal business hours, OR payment can be placed in Night Drop Box</td>
        </tr> 
      
    </table>
    <br>
    <p>
        Upon receipt of the specified payment, the Village of Summit agrees to enter a final disposition for this violation and no further action is
required.

    </p>
    <div class="table--bottom">
        <table class="table--bottom--content" >
            <tr>
                <td></td>
                <td class="bottom--content--right">06/15/2023</td>
            </tr>
            <tr>
                <td><hr width="40%" size="1" align="left" color="black"></td>
                <td><hr width="40%" size="1" align="right" color="black"></td>
            </tr>
            <tr>
            <td>Test User</td>
            <td class="bottom--content--right">Date of certification</td>
        </tr>
        <tr>
            <td>Administrative Hearing Officer</td>
        </tr>
    </table>
    </div>




    </div>
</body>
</html>