<!-- <html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/temp.css">
   </head>
  
    
    
   <body id="ies2">
    <div id="im1x" class="gjs-row">
      <div id="io47" class="gjs-cell">
        <img id="im7f" src="https://w.forfun.com/fetch/8b/8bc5a66b27fc36e5255dc7c1356939c8.jpeg"/>
        <div id="i13r">
          <b id="i2e3">VILLAGE OF BENSENVILLE
          </b>
        </div>
        <div id="in21d">07/20/2023
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div id="ii5b">
      <b id="ix0xh">NOTICE TO APPEAR
      </b>
    </div>
    <div id="irew7">for Bensenville Municipal Hearing in the County of DuPage,
      <br/> State of IL for Municipality of Bensenville
    </div>
    <div id="iowvl">ELIZABETH U MIDDLETON
      <br/> 01612 SANDY ROAD APT. 817
      <br/>Quicket City , IL 60606
    </div>
    <div id="idq95">
      <table class="data--table" id="i0qtx">
        <tbody>
          <tr>
            <th>Citation #
            </th>
            <th>Issued On
            </th>
            <th> Offense #
            </th>
            <th>Due Date
            </th>
            <th>Current Fine
            </th>
          </tr>
          <tr>
            <td>{{citationno}}
            </td>
            <td>{{issuedon}}
            </td>
            <td>{{offenseno}}
            </td>
            <td> {{duedate}}
            </td>
            <td>{{currentfine}}
            </td>
          </tr>
          <tr>
            <td>
              <b>Offense: 
              </b>
            </td>
            <td colspan="4">{{offense}}
            </td>
          </tr>
          <tr>
            <td id="iduopo">
              <b>Location: 
              </b>
            </td>
            <td colspan="4" id="ikow1q">{{location}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="ib5fr">THE UNDERSIGNED STATES THAT ON 06/21/2023 at 03:41:09
    </div>
    <div id="ibjhd">THIS DEFENDANT DID UNLAWFULLY COMMIT THE OFFENSE SHOWN ABOVE
      <br/>(Additional detail may follow)
      <br/>(citation narrative)
    </div>
    <div id="irf9i">This is a Notice to Appear. You must appear in court, in person, on the date and time shown below
    </div>
    <div id="iwpqz">Failure to appear may result in a Default Judgement against you, including a fine in the amount set forth in the Village Code, in
      accordance with Ordinance Number 18-2011, up to $750.00 (1-4-1) for each day the offense remains in violation of the Village Code,
      along with court costs. And you will further be required to bring the property into full compliance with the Village code within 30 days of
      judgement
    </div>
    <div id="iynt3">In accordance with Village of Bensenville Ordinance 18-2011, as approved on February 8,2011, and as amended from time to the the
      Defendant may be responsible for fines up to $750.00 (1-4-1) for each day the offense remains in violation of Village Ordinance
    </div>
    <div id="i9ctw">Under penalties as provided by law for false identification pursuant to Section 1109 of the Code of Civil Procedure, the undersigned
      certifies that the statements set forth in this complaint are true and correct.
    </div>
    <div id="i18mf">Signed and sworn before me: (Inspector)
    </div>
    <div id="ivu3h">
      <hr size="1" color="black"/>
    </div>
    <div id="ik57j" class="gjs-row">
      <div id="i70qa" class="gjs-cell">
        <b id="io69h">Hearing Location:
        </b>
        <div id="ix1bf">
        </div>
        <b id="ibfb2">Village of Bensenville,Police
          <br/>Department Community Room 345
          <br/> E. Green St Bensenville, IL 60106
        </b>
        <div id="ihmrp">
        </div>
        <div id="iclg4">
          <b>(847) 968-4600
          </b>
        </div>
      </div>
    </div>
    <div id="i8pti" class="gjs-row">
      <div id="ie9c6" class="gjs-cell">
        <b id="ie9od">Hearing Data:
        </b>
        <div id="i6sq6">
        </div>
        <b id="idoq5">06/20/2023
        </b>
        <div id="ic2cm">
        </div>
        <div id="iu4yy">
          <b id="igtji">                     10:00 AM
          </b>
        </div>
      </div>
    </div>
    <div id="itbt6c">
      <hr size="1" color="black"/>
    </div>
  </body>
      </html> -->


      <!DOCTYPE html>
      <html>
      <head>
      <style>
        .cell {
          position: relative;
          padding: 10px;
          border: 1px solid black;
          text-align: left;
        }
      
        .small-text {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
        }
      
        .large-text {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 24px;
        }
      </style>
      </head>
      <body>
      
      <table>
        <tr>
          <td class="cell">
            <span class="small-text">Small Text</span>
            <span class="large-text">Large Text</span>
          </td>
        </tr>
      </table>
      
      </body>
      </html>
      